@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

:root {
  --black: #16161d;
  --white: #fff;
  --light-color: #808080;
  --light-bg: #f5f5f8;
  --google-color: #4285f4;
  --twitter-color: #1da1f2;
  --youtube-color: #ff0000;
  --linkedin-color: #0e76a8;
}

/* --START OPMAAK SECTION HEADER-- */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 80px 9%;
  display: flex;
  align-items: center;
  z-index: 100;
}

.header.active {
  background: var(--white);
  padding: 48px 9%;
}

.header.active .logo,
.header.active .navbar a,
.header.active .menu {
  color: var(--black);
}

.header .logo {
  margin-right: auto;
  font-size: 32px;
  color: var(--white);
  font-weight: 700;
}

.header .logo span {
  font-weight: normal;
}

.header .navbar a {
  font-size: 27px;
  color: var(--white);
  margin-left: 35px;
}

header .navbar a {
  display: inline-block;
}

header .navbar a:after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: var(--white);
  transition: 300ms;
}

header .navbar a:hover:after {
  width: 100%;
}

.header .menu {
  font-size: 32px;
  color: var(--white);
  display: none;
}

section {
  padding: 80px 9%;
}

.heading {
  font-size: 56px;
  font-weight: 500;
  margin-bottom: 80px;
  text-align: center;
}

/* --EINDE OPMAAK SECTION HEADER-- */


/* -START OPMAAK SECTION HOME-- */
.home {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

.home h1 {
  font-size: 60px;
  font-weight: 700;
  color: var(--white);
  z-index: 1;
  margin-top: 580px;
}

.home p {
  font-size: 40px;
  font-weight: 700;
  color: var(--white);
  z-index: 1;
}


.slideshow {
  list-style-type: none;
}

.slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0px;
  z-index: 0;
}

.slideshow li span {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite 0s;
}

.slideshow li:nth-child(1) span {
  background-image: url("images-home-section/home-section-image\ \(1\).jpg");
  background-position: 0% 0%;
}

.slideshow li:nth-child(2) span {
  background-image: url("images-home-section/home-section-image\ \(2\).jpg");
  background-position: 0% 100%;
  animation-delay: 6s;
}

.slideshow li:nth-child(3) span {
  background-image: url("images-home-section/home-section-image\ \(3\).jpg");
  background-position: 0% 55%;
  animation-delay: 12s;
}

.slideshow li:nth-child(4) span {
  background-image: url("images-home-section/home-section-image\ \(4\).jpg");
  background-position: 0% 60%;
  animation-delay: 18s;
}

.slideshow li:nth-child(5) span {
  background-image: url("images-home-section/home-section-image\ \(5\).jpg");
  background-position: 0% 20%;
  animation-delay: 24s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  17% {
    opacity: 1
  }

  25% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}


@keyframes titleAnimation {
  0% {
    opacity: 0
  }

  8% {
    opacity: 1
  }

  17% {
    opacity: 1
  }

  19% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

/* -EINDE OPMAAK SECTION HOME-- */


/* -START OPMAAK SECTION VIDEO-- */
.about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
}

#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* -EINDE SECTION VIDEO-- */



/* -START OPAAK SECTION GALLERIJ-- */
.services {
  height: 100vh;
  display: flex;
  flex-grow: row;
  justify-content: center;
  background: var(--light-bg);
}

.card-c1 {
  overflow: hidden;
  width: 400px;
  height: 80%;
}


.card-c1 img {
  width: 100%;
  min-height: 100%;
}

.card-c1-1:hover,
.card-c1-3:hover,
.card-c1-4:hover {
  transform: scale(2.2);
}

.card-c1-2:hover {
  transform: scale(2);
}

.card-c1-1 {
  transform-origin: 60% 60%;
  transition: 2s ease;
}

.card-c1-2 {
  transform-origin: 50%;
  transition: 2s ease;
}

.card-c1-3 {
  transform-origin: 30% 35%;
  transition: 2s ease;
}

.card-c1-4 {
  transform-origin: 50% 30%;
  transition: 2s ease;
}

/* -EINDE OPAAK SECTION GALLERIJ-- */

/* works */
.works .box-container .box .image {
  height: 30rem;
  overflow: hidden;
  position: relative;
}

.works .box-container .box .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.works .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 5rem;
}

.works .box-container .box .image .content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: var(--black);
  color: var(--white);
  font-size: 1.7rem;
  padding: 2rem;
  z-index: 90;
  transform: translateY(100%);
}

.works .box-container .box:hover .image .content {
  transform: translateY(0);
}

/* works */

/* contact */
.contact {
  background: var(--light-bg);
}

.contact .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.contact .box-container .box {
  width: 30rem;
}

.contact .box-container .box h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
}

.contact .box-container .box p {
  font-size: 1.5rem;
  color: var(--light-color);
  margin-bottom: 2rem;
}

.contact .box-container form {
  flex: 1 1 42rem;
}

.contact .box-container form .inputBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact .box-container form .inputBox input {
  width: 49%;
}

.contact .box-container form .inputBox input,
.contact .box-container form textarea {
  border-radius: 5rem;
  padding: 1.2rem 1.8rem;
  font-size: 1.5rem;
  color: var(--black);
  margin: 0.7rem 0;
}

.contact .box-container form textarea {
  width: 100%;
  border-radius: 1rem;
  resize: none;
  height: 25rem;
}

.contact .box-container form .btn {
  color: var(--black);
  background: var(--white);
  border: 0.1rem solid var(--black);
  margin-top: 1rem;
}

.contact .box-container form .btn:hover {
  background: var(--black);
  color: var(--white);
}

/* contact */

/* footer */
.footer {
  text-align: center;
}

.footer .logo {
  font-size: 2rem;
  color: var(--black);
  font-weight: 700;
}

.footer .logo span {
  font-weight: normal;
}

.footer p {
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color: gray;
}

.footer .socials ion-icon {
  font-size: 2.5rem;
  color: var(--black);
  background: var(--light-bg);
  border-radius: 50%;
  padding: 1rem;
  margin: 0.5rem;
  cursor: pointer;
}

.footer .socials ion-icon:nth-child(1) {
  color: var(--google-color);
}

.footer .socials ion-icon:nth-child(1):hover {
  background: var(--google-color);
  color: var(--white);
}

.footer .socials ion-icon:nth-child(2) {
  color: var(--twitter-color);
}

.footer .socials ion-icon:nth-child(2):hover {
  background: var(--twitter-color);
  color: var(--white);
}

.footer .socials ion-icon:nth-child(3) {
  color: var(--youtube-color);
}

.footer .socials ion-icon:nth-child(3):hover {
  background: var(--youtube-color);
  color: var(--white);
}

.footer .socials ion-icon:nth-child(4) {
  color: var(--linkedin-color);
}

.footer .socials ion-icon:nth-child(4):hover {
  background: var(--linkedin-color);
  color: var(--white);
}

/* footer */


/* START OPMAAK TABLET-------------------------------------------------- */
@media (max-width: 1200px) {

  .home h1 {
    font-size: 45px;
    font-weight: 700;
    margin-top: 500px;
  }

  .home p {
    font-size: 25px;
    font-weight: 700;
  }

  .header .navbar a {
    font-size: 20px;
  }

  /*-- START OPMAAK HOME SECTION --*/
  .slideshow li:nth-child(1) span {
    background-position: 40% 0%;
  }

  .slideshow li:nth-child(2) span {
    background-position: center 0%;
  }

  .slideshow li:nth-child(3) span {
    background-position: center 0%;
  }

  .slideshow li:nth-child(4) span {
    background-position: center 0%;
  }

  .slideshow li:nth-child(5) span {
    background-position: 75% 0%;
  }

  /*-- EINDE OPMAAK HOME SECTION  --*/


  /* -START SECTION VIDEO-- */
  #myVideo {
    max-width: 810px;
    min-height: 100%;
  }

  /* -EINDE SECTION VIDEO-- */


  /* -START OPAAK SECTION GALLERIJ-- */
  .services {
    height: 60vh;
  }

  .card-c1 {
    height: 100%;
  }


  .card-c1 img {
    width: 100%;
    min-height: 100%;
  }

  /* -EINDE OPAAK SECTION GALLERIJ-- */
}

/* EINDE OPMAAK TABLET-------------------------------------------------- */


/* START OPMAAK MOBIEL STAAND------------------------------------------- */
@media (max-width: 800px) {

  /*-- START OPMAAK HOME SECTION --*/
  .home h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 500px;
  }

  .home p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    line-height: 22px;
  }

  .slideshow li:nth-child(1) span {
    background-position: 50% 0%;
  }

  .slideshow li:nth-child(2) span {
    background-position: 50% 0%;
  }

  .slideshow li:nth-child(3) span {
    background-position: 45% 0%;
  }

  .slideshow li:nth-child(4) span {
    background-position: 50% 0%;
  }

  .slideshow li:nth-child(5) span {
    background-position: 85% 0%;
  }

  /*-- EINDE OPMAAK HOME SECTION  --*/

  /* -START SECTION VIDEO-- */
  .about {
    height: 50vh;
  }

  #myVideo {
    right: 0;
    bottom: 0;
    max-width: 100%;
    min-height: 100%;
  }

  /* -EINDE SECTION VIDEO-- */


  /* -START OPAAK SECTION GALLERIJ-- */
  .services {
    height: 300vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: solid 2px red;
  }

  .card-c1 {
    height: 25%;
    border: solid 2px blue;
  }


  .card-c1 img {
    width: 100%;
    min-height: 100%;
  }

  /* -EINDE OPAAK SECTION GALLERIJ-- */


}

/* EINDE OPMAAK MOBIEL STAAND--------------------------------------------- */


/* START OPMAAK MOBIEL LIGGEND-------------------------------------------- */
@media (max-height: 380px) {

  /*-- START OPMAAK HOME SECTION --*/
  .home h1 {
    font-size: 30px;
    font-weight: 700;
    margin-top: 250px;
  }

  .home p {
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    line-height: 22px;
  }

  .slideshow li:nth-child(1) span {
    background-position: 50% 0%;
  }

  .slideshow li:nth-child(2) span {
    background-position: 50% 100%;
  }

  .slideshow li:nth-child(3) span {
    background-position: 45% 22%;
  }

  .slideshow li:nth-child(4) span {
    background-position: 50% 40%;
  }

  .slideshow li:nth-child(5) span {
    background-position: 85% 20%;
  }

  /*-- EINDE OPMAAK HOME SECTION  --*/

  /* -START SECTION VIDEO-- */
  .about {
    height: 100vh;
  }

  #myVideo {
    right: 0;
    bottom: 0;
    max-width: 100%;
    min-height: 100%;
  }

  /* -EINDE SECTION VIDEO-- */

  /* -START OPAAK SECTION GALLERIJ-- */
  .services {
    height: 300vh;
    width: 100%;
    flex-direction: column;
    align-items: center;
    border: solid 2px red;
  }

  .card-c1 {
    height: 25%;
    border: solid 2px green;
  }


  .card-c1 img {
    width: 100%;
    min-height: 100%;
  }

  /* -EINDE OPAAK SECTION GALLERIJ-- */




}



/* START OPMAAK MOBIEL LIGGEND--------------------------------------------- */


























/* media queries */
@media (max-width: 1200px) {
  .header {
    padding: 2rem;
  }

  .header.active {
    padding: 2rem;
  }

  section {
    padding: 3rem 2rem;
  }
}

@media (max-width: 991px) {
  html {
    font-size: 60%;
  }
}

@media (max-width: 768px) {
  .header .menu {
    display: block;
  }

  .header .navbar {
    position: fixed;
    top: 6.4rem;
    left: 0;
    right: 0;
    background: var(--white);
    display: flex;
    flex-flow: column;
    text-align: center;
    transform: translateX(100%);
  }

  header .navbar.show {
    transform: translateX(0);
  }

  .header .navbar a {
    color: var(--black);
    margin: 0;
    font-size: 2rem;
    margin: 2rem 0;
  }


}

@media (max-width: 450px) {
  html {
    font-size: 55%;
  }





}